// colors
$color-white: #ffffff;
$primaryColor: #28ce85;
$text-color: #009f56;
$list-header-bg: #009f56;
$secondary-color: #392947;
$color-black: #000000;
$shadow-color: #e6e6e6;
$shadow-dark: #b9b9b9;
$gray-color: #f2f0f4;
$content-text-color: #616161;
$high-light-color: #392947;
$default-button: #e9eaeb;
$switch-button: #c4c4c4;
$dark-gray-color: #424242;
$inner-gray: #e5e5e5;
$color-red: #dc3545;
$color-light: #282828;
$color-light-grey: #6a6b6b;

// font
$font-noto-sans: 'Noto Sans', sans-serif;
$font-varela: 'Varela Round', sans-serif;
