# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage
/playwright-report
/test-results

# production
build

.agents
.claude
.vscode

# misc
.DS_Store
.env
.env.*
# exclude png
*.png

npm-debug.log*
yarn-debug.log*
yarn-error.log*
